.home {
  background: #062f4f;
  font-size: 40px;
  padding: 0;
  padding-top: 200px;
  color: white;
}

.intro-text {
  margin: 0;
}

.highlighted {
  color: #813772;
}

.projectsLink {
  text-decoration: none;
  color: white;
  border: 4px solid white;
  padding: 10px 15px 15px;
  font-size: 20px;
  text-align: center;
  position: relative;
  top: 40px;
}

.projectsLink:hover {
  border: none;
  background-color: black;
  color: white;
}
