.home {
  background: #062f4f;
  font-size: 2.5rem;
  padding: 0;
  padding-top: 12rem;
  color: white;
}

.intro-text {
  margin: 0;
}

.highlighted {
  color: #813772;
}

.projectsLink {
  text-decoration: none;
  color: white;
  border: 4px solid white;
  padding: 10px 15px 15px;
  font-size: 1.2rem;
  text-align: center;
  position: relative;
  top: 2.5rem;
  transition: 0.1s;
}

.projectsLink:hover {
  border: none;
  background-color: black;
  color: white;
}
