.container-div {
  padding: 7rem 0;
  text-align: center;
  /* height: 100vh; */
  height: calc(100vh - 65px);
  background: #062f4f;
  color: white;
}

.heading {
  padding: 1.2rem;
  margin: 0 0 1.8rem;   
}

.heading h1 {
    display: inline;
    padding-bottom: 0.6rem;
    border-bottom: 4px solid white;
}