* {
    box-sizing: border-box;
}

.App {
    height: 100%;
}

.navigation {
    background: black;
    padding: 1.2rem;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1;
}

.logo-image {
    height: 32px;
    display: inline-block;
    vertical-align: middle;
}

.logo-image > img {
    height: 100%;
}

.navigation-sub {
    display: inline-block;
    width: calc(100% - 105px);
    text-align: right;
    vertical-align: middle;
}

.item {
    text-decoration: none;
    color: white;
    margin: 0 1.2rem;
    transition: 0.3s;
}

.item:hover,
.active {
    color: #B82601;
}

.main {
    height: fit-content;
}

.footer {
    background: black;
    text-align: center;
    padding: 1rem;
}

.footer-link {
    display: inline-block;
    color: #ccc;
    text-decoration: none;
    margin: 0 1rem;
    vertical-align: middle;
    height: 32px;
}

/* .footer-link:hover {
    color: rgb(156, 156, 156);
} */

.footer-link > img {
    height: 100%;
}