* {
    box-sizing: border-box;
}

.App {
    height: 100%;
}

.navigation {
    background: black;
    padding: 1.2rem;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1;
}

.navigation-sub {
    display: inline-block;
    width: calc(100% - 105px);
    text-align: right;
}

.item {
    text-decoration: none;
    color: white;
    margin: 0 1.2rem;
}

.item:hover,
.active {
    color: #B82601;
}